h1{
  color: white;
  font-family: Bungee Shade;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
}
h2{
  color: white;
  font-family: Bungee Shade;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
}
h3{
  font-family: Cardo;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
}
h4{
  font-family: Cardo;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}
p{
  font-family: Cardo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}